.header {
  background-color: #fff;
  height: 70px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header__logo {
  font-size: 24px;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: none;
  align-items: center;
  font-size: 18px;
  list-style: none;
}

.header__menu li {
  margin-left: 40px;
}

@media (min-width: 768px) {
  .header__menu {
    display: flex;
  }
  .header__menu-btn {
    display: none;
  }
}